.hide {
  display: none;
}

.absolute {
  display: absolute;
}
body {
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
}
#main{
  display: none;
}
#newGame, #creditBtn {
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid grey;
  border-radius: 8px;
  background-color: white;
  font-size: 60px;
  width: 5em;
  margin: 30px auto;
 
}
#logo{
 margin-top: 100px;
}
.container{
  width: 100vw;
  height: 100vh;
}

#container2 {
  display: none;
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
}

#newGame2 {
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid grey;
  border-radius: 8px;
  background-color: white;
  font-size: 60px;
  width: 5em;
  margin: 30px auto;
}
